*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body
{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    height: 150px;
    background-color: rgb(44, 42, 61);
    color: Orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

div
{
    text-align: center;
    font-size: 25px;
}

main{
    padding: 100px;
    background-color: rgb(157, 196, 255);
}

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgb(44, 42, 61);
    color: Orange;
}

footer h4 a
{
    text-decoration: none;
    color: orange;
}

footer h4
{
    font-size: 20px;
}

footer h4 a:hover
{
    color: white;
    text-decoration: underline;
}

.calculator-container
{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 0 auto;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
}

.text-details
{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    padding: 0 15px;
}

.input-values
{
    font-size: 16px;
}

.output-values
{
    font-weight: bolder;
    font-size: 35px;
}

.buttons-container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.buttons-container div
{
    border-radius: 10px;
}

.number 
{
    width: 25%;
    background-color: rgb(44, 42, 61);
    color: white;
}

.number:hover
{
    background-color:white;
    color: rgb(44, 42, 61);
}

.operator 
{
    width: 25%;
    background-color: orange;
    color: white;
}

.operator:hover
{
    background-color: white;
    color: orange;
}

.extra
{
    width: 25%;
    background-color: lightgray;
    color: rgb(44, 42, 61);
}

.extra:hover
{
    background-color: rgb(44, 42, 61);
    color: lightgray;
}

.number, .operator, .extra
{
    cursor: pointer;
}

.two-spaces
{
    width: 50%;
}

.three-spaces
{
    width: 75%;
}

.four-spaces
{
    width: 100%
}